<div class="card">
  
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img class="card-img-top" src="{{detailPokemon?.sprites.back_shiny}}" />
        <!--<h3 class="card-text">Nombre:</h3>-->
        <h3>{{detailPokemon.name}}</h3>
      </div>
      <div class="col-12">
          <h4 class="card-text">
              Habilidades:
          </h4>
        <span *ngFor="let ab of detailPokemon?.abilities" class="badge badge-pill badge-success">{{ab?.ability.name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
       </div>
    </div>
  </div>
</div>
<div class="col-12">
    <div class="card">
        <app-poke-similars></app-poke-similars>
    </div>  
</div>