
<div class="row" id="books">
    <div *ngFor="let book of books" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
        <div class="card">
            <div class="card-header">
                {{book.name}}
            </div>
            <img class="card-img-top" src="{{book.sprites.front_default}}" />
           
            <div class="card-body">
                <p class="card-text">{{book.name}}</p>
                <p class="card-text">{{book.name}}</p>
                <a [routerLink]="['../poke-card', book.id]" class="btn btn-primary col-12 col-md-auto col-lg-auto">Ver Detalle</a>
                <a (click)="addFavorites(book)" class="btn btn-primary col-12 col-md-auto col-lg-auto">Favoritos</a>
                <app-modal-select-collection [dataInput]="listCollections" (submitted)='displayCounter($event,book)'></app-modal-select-collection>
                
            </div>
        
        </div>
    </div>
    
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><button class="page-link" [disabled]="isPageZero() ? true :null" (click)="Previous()" >Previous</button></li>
      <div *ngFor="let book of books;let i= index">
        <li class="page-item"><a class="page-link" (click)="GoPage(i)">{{i+1}}</a></li>        
      </div>
      <li class="page-item"><button class="page-link" (click)="Next()">Next</button></li>
    </ul>
  </nav>