<p>
  collections-core works!
  <ngbd-modal-basic (submitted)='displayCounter($event)'></ngbd-modal-basic>
  <a (click)="addCollection($event)" class="btn btn-primary col-12 col-md-auto col-lg-auto">Add Collection</a>
</p>
<div class="row" id="books">
  <div *ngFor="let book of collectionPoke" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
      <div class="card">
          <div class="card-header">
              {{book.name}}
          </div>
          
      
      </div>
  </div>
</div>
